<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/hellonode/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="http://www.buildingsmart-tech.org/blogs">Blog</a>
			<a href="/community/">Community</a>
		</nav>
		<div class="social">
			<div>
				<a href="https://twitter.com/buildingSMART" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/BuildingSMART" class="github"><span>Github</span></a>
				<a href="https://buildingsmart-team-slackin.herokuapp.com/" class="slack"><span>Slack</span></a>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/ifc" class="stack-overflow"><span>Stack Overflow</span></a>
				<a href="https://buildingsmartapi.mobilize.io/" class="mailing-list"><span>Mailing List</span></a>
				<a href="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com" class="calendar"><span>Events Calendar</span></a>
			</div>
			<div>
				<a href="https://www.linkedin.com/groups/3690870" class="linkedIn"><span>LinkedIn</span></a>
			</div>
			<div>
				<span>I wish this page</span>
				<input type="text" id="wishField" name="wishField" placeholder="enter your wish">
			</div>
		</div>
		<div id="miceType" class="center">
			<!-- &copy; {{ 'now' | date: "%Y" }} The Kubernetes Authors | Documentation Distributed under <a href="https://github.com/kubernetes/kubernetes.github.io/blob/master/LICENSE" class="light-text">CC BY 4.0</a> -->
		</div>
		<div id="miceType" class="center">
			&copy; {{ 'now' | date: "%Y" }} Buildingsmart
			<!-- Copyright &copy; {{ 'now' | date: "%Y" }} The Linux Foundation&reg;. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page: <a href="https://www.linuxfoundation.org/trademark-usage" class="light-text">https://www.linuxfoundation.org/trademark-usage</a> -->
		</div>
	</main>
</footer>
